@import "~fontsource-raleway/latin";
@import "~fontsource-roboto-slab/latin";
@import "~animate.css/animate";
@import "~@themeenergy/sailor/css/fonts";
@import "~font-awesome/scss/font-awesome";
@import '~lightgallery/src/sass/lightgallery';
@import "~@themeenergy/sailor/css/style";

/**
 * Drupal Overrides
 */

html,
body,
.dialog-off-canvas-main-canvas,
.layout-container {
  min-height: 100vh;
}

.logo {
  display: block;
  img {
    height: 100%;
    max-width: none;
  }
}

.header > .wrap {
  display: flex;
  justify-content: space-between;
  &:before {
    content: none;
  }
  &:after {
    content: none;
  }
}

@media screen and (max-width: 980px) {
  .header > .wrap {
    text-align: center;
    display: table;
  }
  .logo img {
    min-height: 2em;
  }
}

.layout-container {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.layout-container > main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

/**
 * Toolbar.
 */
.toolbar-fixed,
.toolbar-vertical {
  header.header {
    position: static;
  }

  .main {
    margin-top: 0;
  }
}

ul.toolbar-menu {
  display: block;
}

/**
 * Intro
 */
.intro {
  float: none;
}

/**
 * Crew
 */
.crew article .contact {
  a {
    @extend .circle;
    @extend .small;
    @extend .fa;
    @extend .fa-fw;
    &[href^="tel"] {
      @extend .fa-phone;
    }
    &[href$="/contact"] {
      @extend .fa-envelope;
    }
    &[href*="facebook.com"] {
      @extend .fa-facebook;
    }
    &[href*="twitter.com"] {
      @extend .fa-twitter;
    }
    &[href*="instagram.com"] {
      @extend .fa-instagram;
    }
    &[href*="plus.google.com"] {
      @extend .fa-google-plus;
    }
    &[href*="youtube.com"] {
      @extend .fa-youtube-play;
    }
    &[href*="linkedin.com"] {
      @extend .fa-linkedin;
    }
    &[href*="pinterest.com"] {
      @extend .fa-pinterest-p;
    }
    &[href*="github.com"] {
      @extend .fa-github;
    }
    &[href*="drupal.org"] {
      @extend .fa-drupal;
    }
  }
}

.crew article figure img {
  margin: 0 auto;
}

/**
 * Footer
 */
 .footer a.circle {
   @extend .fa;
   line-height: 40px;
   font-size: 18px;
   &[href*="facebook.com"] {
     @extend .fa-facebook;
   }
   &[href*="twitter.com"] {
     @extend .fa-twitter;
   }
   &[href*="instagram.com"] {
     @extend .fa-instagram;
   }
   &[href*="plus.google.com"] {
     @extend .fa-google-plus;
   }
   &[href*="youtube.com"] {
     @extend .fa-youtube-play;
   }
   &[href*="linkedin.com"] {
     @extend .fa-linkedin;
   }
   &[href*="pinterest.com"] {
     @extend .fa-pinterest-p;
   }
   &[href*="github.com"] {
     @extend .fa-github;
   }
   &[href*="drupal.org"] {
     @extend .fa-drupal;
   }
   &[href*="tripadvisor.com"] {
     @extend .fa-tripadvisor;
   }
   &[href*="yelp.com"] {
     @extend .fa-yelp;
   }
 }

/**
 * Form
 */
.form-item,
.form-actions {
  margin: 0;
}

.file-widget img {
  margin: 0;
}

/**
 * Status Messages
 */
.region-highlighted a {
  color: #fff;
  text-decoration: underline;
}

.error_message {
  &.box-yellow {
    color: #000;
    a {
      color: #000;
    }
  }
  &.box {
    margin-bottom: 0;
  }

  ul > li {
    padding: 0;
    &:before {
      content: none;
    }
  }
}

/**
 * Tabs
 */
.main .region-tabs .tabs {
  height: 80px;
  margin-bottom: 0;
  float: none;
}

/**
 * Forms
 */
input[type="tel"],
input[type="date"],
input[type="time"] {
  @extend input, [type="text"];
}

form .field--type-datetime h4 {
  @extend label;
}

form .description {
  @extend label;
  cursor: auto;
  font-size: 12px;
  color: #555;
}

.js-form-type-checkbox {
  @extend .checkbox;
}

.ui-datepicker-calendar td.ui-datepicker-week-end  {
  background: #fff;
}

.ui-datepicker-calendar td.ui-datepicker-unselectable {
  background: #eee;
}

.ui-datepicker-calendar td.ui-datepicker-today {
  background: #515E64;
}

/**
 * Positioning.
 */
.photo .wrap.center {
  max-width: inherit;
}

/**
 * Gallery
 */
.gallery figcaption div {
  right: 0;
}

.gallery figure img {
  margin: 0 auto;
}

.gallery > a {
  padding: 0;
}

/**
 * Tab Content
 */
.tab-content {
  .one-half img {
    margin: 0 auto;
  }
}
