{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<div class="layout-container">

  <!-- Header -->
  <header class="header" role="banner">
    <div class="wrap">
      {{ page.header }}
      {{ page.primary_menu }}
    </div>
  </header>
  <!-- //Header -->

	<main class="main" role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {{ page.highlighted }}

    {{ page.tabs }}

    {{ page.content }}

  </main>

  {{ page.bottom }}

  <!-- Footer -->
  {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth or page.footer_copy %}
  	<footer class="footer" role="contentinfo">

      {% if page.footer_first or page.footer_second or page.footer_third or page.footer_forth %}
    		<div class="wrap">
    			<div class="row">

            {% if page.footer_first %}
              <!-- OneFourth -->
              <div class="one-fourth">
                {{ page.footer_first }}
              </div>
            {% endif %}

            {% if page.footer_second %}
              <!-- OneFourth -->
              <div class="one-fourth">
                {{ page.footer_second }}
              </div>
            {% endif %}

            {% if page.footer_third %}
              <!-- OneFourth -->
              <div class="one-fourth">
                {{ page.footer_third }}
              </div>
            {% endif %}

            {% if page.footer_fourth %}
              <!-- OneFourth -->
              <div class="one-fourth">
                {{ page.footer_fourth }}
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}

      {% if page.footer_copy %}
      <div class="copy">
        <div class="wrap">
          {{ page.footer_copy }}
        </div>
      </div>
      {% endif %}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
