<article {{ attributes.addClass('tab-content') }}>
  {{ title_suffix.contextual_links }}
  <div class="row">
    <div class="three-fourth">
      {{ main }}
    </div>
    <aside class="one-fourth sidebar sidebar-right">
      {{ sidebar }}
    </aside>
  </div>
</article>
