<section {{ attributes.addClass('cta') }}>
  {{ title_suffix.contextual_links }}
  <div class="wrap {% if hasMain %}center{% endif %}">
    {% if not hasMain %}
      {{ button }}
    {% endif %}
    {{ title }}
    {{ main }}
    {% if hasMain %}
      {{ button }}
    {% endif %}
  </div>
</section>
