<a {{ attributes }}>
  {{ title_suffix.contextual_links }}
  <figure data-src="{{ image|render|striptags|trim }}">
  	{{ thumbnail }}
    <figcaption>
      <span class="icojam_zoom_in"></span>
      <div>
        {{ caption }}
      </div>
    </figcaption>
  </figure>
</a>
