{{ title_suffix.contextual_links }}

{% if intro %}
  <header class="intro">
    <div class="wrap">
      {{ intro }}
    </div>
  </header>
{% endif %}

<div class="content static">
	<div class="wrap">
		<div class="row">
      {% if sidebar_left %}
        <aside class="one-fourth sidebar sidebar-left">
          {{ sidebar_left }}
        </aside>
      {% endif %}

			<div class="{% if sidebar_left and sidebar_right %}one-half{% elseif sidebar_left or sidebar_right %}three-fourth{% else %}full-width{% endif %}">
        {{ main_top }}
        {% if main and main|render|trim %}
  				<div class="box-white">
  					{{ main }}
  				</div>
        {% endif %}
        {{ main_bottom }}
			</div>

      {% if sidebar_right %}
        <aside class="one-fourth sidebar sidebar-right">
          {{ sidebar_right }}
        </aside>
      {% endif %}
		</div>
	</div>
</div>
