<article {{ attributes.addClass('tab-content') }}>
  {{ title_suffix.contextual_links }}
  <div class="row">
    <div class="one-half">
      {{ main }}
    </div>
    <div class="one-half">
      {{ image }}
    </div>
  </div>
</article>
