{{ title_suffix.contextual_links }}

{% if intro %}
  <header class="intro">
    <div class="wrap">
      {{ intro }}
      {% if button and button|render|striptags|trim %}
        <a href="#tab-navigation" title="{{ button|render|striptags|trim }}" class="button white medium">
          {{ button }}
        </a>
      {% endif %}
    </div>
  </header>
{% endif %}

{% if gallery %}
  <div class="gallery" id="gallery">
    {{ gallery }}
  </div>
{% endif %}

<div class="content">

  {{ nav }}

  <div class="wrap">
    {{ tabs }}
  </div>
</div>
