<div {{ attributes.addClass( 'widget' ) }}>
  {{ title_suffix.contextual_links }}
  <div class="tooltip bottom">
    <blockquote>
      {{ quote }}
    </blockquote>
	</div>
	<div class="vcard">
    {{ vcard }}
	</div>
</div>
