<section class="content boxed grid2 noarrow">
  <article class="full-width hentry">
    <figure class="one-half heightfix">
      {{ image }}
    </figure>
    <div class="one-half heightfix">
      <header>
        {{ header }}
      </header>
      <div class="text">
        {{ main }}
        <div class="details">
          <div>
            <span class="icojam_location_1"></span>
            {{ location }}
          </div>
          <div>
            <span class="icojam_friends"></span>
            {{ berths }}
          </div>
          <div class="price">
            {{ price }}
          </div>
          <div>{{ button }}</div>
        </div>
      </div>
    </div>
  </article>
</section>
